
.caja{
    margin-top: 10px;
    border: 2px solid green;
    background-color: white;
    margin-left: 10px;
    text-align: center;  
    text-overflow: clip

}

.imagenes{
    width: 450px;
    margin: 0;

}

.tituloPropiedades{
    text-align: center;
}